/* Bottom Navigation */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

.bottom-nav a {
  text-decoration: none;
  color: #6c757d;
  font-size: 12px;
  text-align: center;
}

.bottom-nav a i {
  font-size: 20px;
  display: block;
}

.bottom-nav a.active {
  color: #0d6efd;
}


/* SIDE NAVIGATION (RIGHT) */
.sidenav {
  height: 100%;
  width: 0;          /* IMPORTANT: initial width 0 */
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 20px;
}




